# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

60_case_keyboard/gerbers/
*.zip

60_case_keyboard/firmware/adafruit-circuitpython-bundle-6.x-mpy-20210420/
60_case_keyboard/firmware/circuitpython
60_case_keyboard/firmware/SHARP_BadApple